@font-face {  font-family: "pokemon";  src: url('/PokemonSolid.ttf');}
@font-face {  font-family: "pokemon-outline";  src: url('/PokemonHollow.ttf');}

.App {
  text-align: center;
  background-color: slategray;
}

body {
  background-color: darkslategray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-box {
  background-color: slategray;
  
  
}

.lower-main-box {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
}

.poke-box {
  border: solid darkslategray 5px;
  border-radius: 15px;
  background-color: darkslategray;
  max-width: 75%;
  margin: 10px;

}

.big-box {
  z-index: 1;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: solid slategray 5px;
  margin-left: 15px;
  overflow: scroll;
  max-height: 75vh;

}

.outer-box {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.head-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 6em;
  color: darkslategray;
  margin-bottom: 5px;
  font-family: 'Sedgwick Ave', cursive;
  text-shadow: darkorange 2px 2px;

}

.header-box {
  position: fixed;
}



.nav-link {
  font-size: x-large;
  color: darkslategray;
  margin: 10px;
}

.card {
  border: solid darkslategray 5px;
  border-radius: 15px;
  background-color: slategray;
  color: darkslategray;
  font-size: x-large;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;

}

.result-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.result-inner {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  padding: 20px;
  background-color: slategray;
  color: darkslategray;
  border: solid 5px slategray;
  border-radius: 15px;
}

.Links {
  color: darkslategray;
}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  padding: 15px;
  
}

.ui-el {
  margin: 15px;
  height: 30px;
  font-size: x-large;
  border: solid darkslategray 2px;
}

.spin {
  animation: App-logo-spin infinite 20s linear;
  color: slategray;
}

