.App {
  text-align: center;
  background-color: slategray;
}

body {
  background-color: darkslategray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-box {
  background-color: slategray;
  

}

.poke-box {
  border: solid darkslategray 5px;
  border-radius: 15px;
  background-color: darkslategray;
  max-width: 75%;
  margin: 10px;

}

.big-box {
  background-color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.head-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 5em;
  color: darkslategray;
}

.nav-link {
  font-size: x-large;
  color: darkslategray;
  margin: 10px;
}

.card {
  border: solid darkslategray 5px;
  border-radius: 15px;
  background-color: slategray;
  color: darkslategray;
  font-size: x-large;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;

}

.result-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.result-inner {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  padding: 20px;
  background-color: slategray;
  color: darkslategray;
  border: solid 5px slategray;
  border-radius: 15px;
}

.Links {
  color: darkslategray;
}